<template id="template-task">
    <div class="container-fluid alert alert-warning">
        <div class="row d-flex">
            <div class="col-8 col-sm-10 col-md-10 col-lg-11 text-start">
            <p class="taskContent">
            <!--Here the text-->
            </p>
            </div>
            <div class="col-4 col-sm-2 col-md-2 col-lg-1 text-end">
                <h3>
                    <i class="fa fa-check-circle text-success" role="button"></i>
                    <i class="fa fa-minus-circle text-danger" role="button"></i>
                </h3>
            </div>
        </div>
        <div class="row d-flex p-0 mt-0">
            <div class="col-4 col-sm-2 col-md-1 text-start">
                <span class="bg-white rounded  username" style="font-size: 0.75em">
                     <!--Here the username-->
                </span>
            </div>
            <div class="col-3 col-sm-2 col-md-1 text-start">
                <span class="bg-white rounded taskTime" style="font-size: 0.75em">
                     <!--Here the time-->
                </span>
            </div>
            <div class="col text-end">
                <span class="bg-white rounded taskDate" style="font-size: 0.75em">
                    <!--Here the date-->
                </span>
            </div>
        </div>
    </div>
</template>
